
img {
    width: 160px;
  }
  
  * {
    margin: 0;
    padding: 0;
    text-decoration: none;
  }
  
  body {
    background-color: #1b1b1b;
  }
  
  .header {
    background-color: #1b1b1b;
    height: 100px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
  }
  
  .header p {
    font-family: arial;
    font-size: 18px;
    color: #fff;
    padding-bottom: 4px;
  }
  
  .header h2 {
    font-family: 'Acme', sans-serif;
    font-size: 30px;
    color: #f8b700;
  }
  
  .interface {
    padding: 0;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #1b1b1b;
  }
  
  .interface a {
    display: flex;
    flex-wrap: nowrap;
  }
  
  .interface img {
    width: 120px;
    height: 120px;
  }
  
  .img-avatar {
    width: 160px !important;
    height: 160px !important;
  }
  
  .interface div {
    width: 220px;
    padding: 0 10px 0 20px;
    background-color: #211510;
  }
  
  .interface a:hover div {
    background-color: #3c1d3d;
  }
  
  .interface h3 {
    font-family: 'Acme', sans-serif;
    font-size: 22px;
    color: #f8b700;
    padding: 12px 0 4px;
  }
  
  .interface p {
    font-family: arial;
    font-size: 12px;
    color: #d5c8af;
    line-height: 20px;
  }
  
  .btn-prefight {
    width: 100% !important;
  }
  
  .actions {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }
  
  .actions a {
    width: 33.33%;
    padding: 10px 0px;
    text-align: center;
    font-size: 14px;
    font-family: arial;
    color: #1b1b1b;
  }
  
  .actions a:nth-of-type(1) {
    background-color: #e64747;
  }
  
  .actions a:nth-of-type(2) {
    background-color: #e6ce47;
  }
  
  .actions a:nth-of-type(3) {
    background-color: #6de647;
  }
  
  .actions a:hover {
    opacity: 0.9;
  }
  
  .arena {
    width: 100%;
    height: 180px;
    background-color: #1d373d;
    background-image: url("img/arena_background.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 35vh;
    visibility: hidden;
  }
  
  .enemy {
    padding: 0;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #1b1b1b;
  }
  
  .enemy a {
    display: flex;
    flex-wrap: nowrap;
  }
  
  .enemy img {
    width: 120px;
    height: 120px;
  }
  
  .enemy div {
    width: 220px;
    padding: 0 10px 0 20px;
    background-color: #211510;
  }
  
  .enemy a:hover div {
    background-color: #3c1d3d;
  }
  
  .enemy h3 {
    font-family: 'Acme', sans-serif;
    font-size: 22px;
    color: #f8b700;
    padding: 12px 0 4px;
  }
  
  .enemy p {
    font-family: arial;
    font-size: 12px;
    color: #d5c8af;
    line-height: 20px;
  }
  js24-style.css
  Displaying js24-style.css.